#Canvas {
    border: 3px solid #73AD21;    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
};

/*body {
    color:black;
    background-color:white;
    background-image:url(images\shrek.jpeg);
    background-repeat:no-repeat;
    }*/